*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    --header-height: 4rem;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

:root {
    --g-dark: #2f2926;
    --g-lite: #413a36;

    --accent-darkest2: #a55c0f;
    --accent-darkest: #b86914;
    --accent-darker: #ca771e;
    --accent-dark: #de8629;
    --accent-base: #ec9a42;
    --accent-lite: #fcb468;
}

body {
    background: var(--g-dark);
    background: radial-gradient(ellipse at top left, var(--g-dark) 0%, var(--g-lite) 100%);
}

/* mobile-specific overrides */

@media screen and (orientation: portrait) {
    body {
        background: linear-gradient(180deg, var(--g-dark) 0%, var(--g-lite) 100%);
    }
}

.no-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    /* thanks SO (https://stackoverflow.com/a/32548403) */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

/* webkit scrollbar */

@media only screen and (min-width: 960px) {
    ::-webkit-scrollbar { width: 1rem; }
    ::-webkit-scrollbar-track { background-color: #ddd; }
    ::-webkit-scrollbar-thumb { background-color: #494949; }
    ::-webkit-scrollbar-thumb:hover { background-color: #383838; }
    ::-webkit-scrollbar-thumb:active { background-color: #272727; }
}

/* header styling */

#header-div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;

    padding: 0 0.5rem;

    width: 100%;
    height: var(--header-height);

    background-color: #0005;

    position: relative;
}

.header-anchor {
    color: #e9e9e9;
    font-family: "Open Sans", serif;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--accent-dark);

    transition: 0.15s color, 0.15s font-weight, 0.15s letter-spacing;
}

.header-anchor:hover {
    color: #fafafa;
    font-weight: 500;
}

/* mitigate layout shift from increasing font weight */
.header-anchor:nth-child(2):hover { letter-spacing: -0.03em; }
.header-anchor:nth-child(3):hover { letter-spacing: -0.025em; }
.header-anchor:nth-child(4):hover { letter-spacing: -0.03em; }

#home-anchor {
    position: absolute;
    left: 2%;
    font-weight: 700;
}

#home-anchor::after { content: "ravis H"; }

/* text unit sizing */

@media screen and (orientation: landscape) {
    @media (max-width: 439px)  {  :root { font-size: 6px; }  }
    @media (min-width: 440px)  {  :root { font-size: 7px; }  }
    @media (min-width: 480px)  {  :root { font-size: 8px; }  }
    @media (min-width: 620px)  {  :root { font-size: 9px; }  }
    @media (min-width: 780px)  {  :root { font-size: 10px; }  }
    @media (min-width: 870px)  {  :root { font-size: 11px; }  }
    @media (min-width: 960px)  {  :root { font-size: 12px; }  }
    @media (min-width: 1080px) {  :root { font-size: 13px; }  }
    @media (min-width: 1200px) {  :root { font-size: 14px; }  }
    @media (min-width: 1500px) {  :root { font-size: 15px; }  }
    @media (min-width: 1920px) {  :root { font-size: 16px; }  }
    @media (min-width: 2100px) {  :root { font-size: 19px; }  }
    @media (min-width: 2400px) {  :root { font-size: 21px; }  }
    @media (min-width: 2560px) {  :root { font-size: 22px; }  }
    @media (min-width: 2800px) {  :root { font-size: 24px; }  }
    @media (min-width: 3800px) {  :root { font-size: 34px; }  }
    @media (min-width: 5760px) {  :root { font-size: 52px; }  }
}

@media screen and (orientation: portrait) {
    @media (max-width: 359px)  {  :root { font-size: 12px; }  }
    @media (min-width: 360px)  {  :root { font-size: 13px; }  }
    @media (min-width: 370px)  {  :root { font-size: 13.5px; }  }
    @media (min-width: 380px)  {  :root { font-size: 14px; }  }
    @media (min-width: 410px)  {  :root { font-size: 15px; }  }
    @media (min-width: 430px)  {  :root { font-size: 15.5px; }  }
    @media (min-width: 480px)  {  :root { font-size: 16px; }  }
    @media (min-width: 576px)  {  :root { font-size: 20px; }  }
    @media (min-width: 768px)  {  :root { font-size: 24px; }  }
    @media (min-width: 960px)  {  :root { font-size: 28px; }  }
    @media (min-width: 1200px) {  :root { font-size: 40px; }  }

    #header-div {
        column-gap: 2rem;
        padding-right: 7%;
        justify-content: flex-end;
    }
    #home-anchor { left: 5%; }
    #home-anchor::after { content: ".H"; }
    .header-anchor { font-size: 1.25rem; }
}