*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    --header-height: 4rem;
    --footer-height: 3rem;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

:root {
    --g-dark: #2f2926;
    --g-lite: #413a36;

    --accent-darkest2: #a55c0f;
    --accent-darkest: #b86914;
    --accent-darker: #ca771e;
    --accent-dark: #de8629;
    --accent-base: #ec9a42;
    --accent-lite: #fcb468;
    --accent-liter: #ffc281;

    --anchor-dark: #3f73d3;
    --anchor-base: #6b9af1;
    --anchor-lite: #abc8ff;

    /* update scrollbar color */
    color-scheme: dark;

    /* preset font variables */
    --Open-Sans: "Open Sans", sans-serif;
    --Anton: "Anton", sans-serif;
}

body {
    background: var(--g-dark);
    background: radial-gradient(ellipse at top left, var(--g-dark) 0%, var(--g-lite) 100%);
}

.no-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    /* thanks SO (https://stackoverflow.com/a/32548403) */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

:focus { outline: 2px solid #fff !important; }

/* header styling */

#header-div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;

    position: relative;
    padding: 0 0.5rem;
    width: 100%;
    height: var(--header-height);

    background-color: #0005;
}

.header-anchor {
    color: #e9e9e9;
    font: 300 1.5rem var(--Open-Sans);
    text-align: center;
    text-decoration: underline var(--accent-dark);

    transition: 0.15s color, 0.15s font-weight, 0.15s letter-spacing;
}

.header-anchor:hover {
    color: #fafafa;
    font-weight: 500;
}

/* mitigate layout shift from increasing font weight */
.header-anchor:nth-child(2):hover { letter-spacing: -0.03em; }
.header-anchor:nth-child(3):hover { letter-spacing: -0.025em; }
.header-anchor:nth-child(4):hover { letter-spacing: -0.03em; }

#home-anchor {
    position: absolute;
    left: 2%;
    font-weight: 700;
}

#home-anchor::after { content: "ravis H"; }

/* footer styling */

#footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--footer-height);
    background-color: #0005;
}

#footer-div a,
#footer-div p {
    color: #f3f3f3;
    font: 300 1.05rem var(--Open-Sans);
}

#footer-div a {
    color: var(--anchor-base);
    transition: 0.1s color;
}

#footer-div a:hover { color: var(--anchor-lite); }
#footer-div a:active { color: var(--anchor-dark); }

/* connect dot styling */

#content-dot-wrapper { margin: 1rem 0; }

#content-dot-wrapper > div {
    --diameter: 1rem;
    
    display: inline-block;
    margin-left: calc(0.25 * var(--diameter));
    width: var(--diameter);
    height: var(--diameter);
    background-color: var(--accent-dark);
    border-radius: 50%;
}

#content-dot-wrapper > div:not(:first-of-type) {
    margin-left: calc(0.5 * var(--diameter));
}

/* mobile styling */

@media screen and (orientation: landscape) and (max-width: 900px) { :root { font-size: 0.75rem; } }

@media screen and (orientation: portrait) {
    :root { font-size: 0.9rem; }
    body { background: linear-gradient(180deg, var(--g-dark) 0%, var(--g-lite) 100%); }
    #header-div {
        column-gap: 2rem;
        padding-right: 7%;
        justify-content: flex-end;
    }
    #home-anchor { left: 5%; }
    #home-anchor::after { content: ".H"; }
    .header-anchor { font-size: 1.25rem; }
}