/* main content styling */

#content-div {
    --row-gap: 2rem;
    --inner-content-height: calc(100vh - var(--header-height) - 11vh - var(--row-gap));

    display: flex;
    flex-wrap: wrap;
    row-gap: var(--row-gap);
    padding: 6vh 10% 5vh 10%;
    min-height: calc(100vh - var(--header-height));
    overflow-x: hidden;
}

#content-left {
    flex: 1;
    min-width: 49%;
    padding-top: 2%;
}

#name-display {
    color: #fbfbfb;
    font-family: "Anton", sans-serif;
    font-size: 5.25rem;
    font-weight: 400;
    text-shadow: 0.08em 0.06em 0.03em #0006;
    line-height: 1.2em;
}

.content-dot {
    --diameter: 1rem;

    display: inline-block;
    margin-left: calc(0.25 * var(--diameter));
    width: var(--diameter);
    height: var(--diameter);
    background-color: var(--accent-dark);
    border-radius: 50%;
}

#job-title-display {
    color: #d9d9d9;
    font-family: "Anton", sans-serif;
    font-size: 4.25rem;
    font-weight: 400;
    text-shadow: 0.08em 0.06em 0.03em #0006;
    line-height: 1.2em;
}

#content-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    min-width: 49%;
}

#headshot-img {
    height: 21.25rem;
    aspect-ratio: 20/23;
    object-fit: cover;

    border-radius: 0.25rem;
    border: 0.375rem solid var(--accent-dark);
    background-color: var(--accent-lite);

    box-shadow: 0.125rem 0.125rem 1.5rem #0009;
}

/* center content formatting */

#content-center {
    display: flex;
    justify-content: center;
    width: 100%;
    row-gap: 1rem;
}

#tagline-text {
    color: #f3f3f3;
    font-family: "Open Sans", serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 300;
}

#read-more-anchor {
    display: inline-block;
    margin-top: 0.75em;
    padding: 0.4em 1.1em 0.5em 1.1em;

    background-color: var(--accent-darkest);
    border-radius: 2em;
    box-shadow: 0.125rem 0.125rem 0.75rem #0004;

    color: #fdfdfd;
    font-family: "Open Sans", serif;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: underline;
    text-shadow: 0.075em 0.025em 0.1em #0005;

    cursor: pointer;
    transition: 0.15s background-color, 0.15s box-shadow;
}

#read-more-anchor:hover {
    background-color: var(--accent-darker);
    box-shadow: 0.125rem 0.125rem 0.75rem #0002;
}

#read-more-anchor:active {
    background-color: var(--accent-darkest2);
    box-shadow: 0.125rem 0.125rem 0.75rem #0006;
}

/* contact info formatting */

#contact-content {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

#contact-header {
    display: none;
    margin-top: 0.5em;
    width: 100%;

    color: #f9f9f9;
    font-family: "Open Sans", serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--accent-dark);
}

.contact-img {
    --diameter: 5.25rem;

    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    box-shadow: 0 0.1rem 1.25rem #0005;
    cursor: pointer;
}

.contact-text {
    display: none;
    color: #f3f3f3;
    font-family: "Open Sans", serif;
    font-size: 1.1875rem;
    font-style: italic;
    font-weight: 300;
    text-decoration: underline;
}

/* portrait & landscape overrides */

@media screen and (orientation: landscape) {
    #tagline-content, #contact-content { flex: 1; }

    #content-center { min-height: calc(0.4 * var(--inner-content-height)); }

    .contact-img {
        filter: brightness(0.9);
        transition: 0.15s filter, 0.15s box-shadow;
    }
    .contact-section:nth-of-type(2) .contact-img { margin-top: 1rem; }
    .contact-img:hover {
        box-shadow: 0 0 1.25rem #fff9;
        filter: brightness(1);
    }
    .contact-img:active {
        box-shadow: 0 0 1.5rem #fff2;
        filter: brightness(0.8);
    }
}

@media screen and (orientation: portrait) {
    #content-div {
        --inner-content-height: calc(100vh - var(--header-height) - 17vh - var(--row-gap));
        padding: 3vh 8% 14vh 8%;
    }

    #content-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #content-right { justify-content: center; }

    #content-center {
        min-height: calc(0.6 * var(--inner-content-height));
        flex-direction: column;
    }

    #name-display {
        font-size: 2.25rem;
        letter-spacing: 0.02em;
    }
    .content-dot { --diameter: 0.625rem; }
    #job-title-display {
        font-size: 1.75rem;
        letter-spacing: 0.025em;
    }

    #content-right { align-items: flex-end; }
    #headshot-img {
        margin-top: 10%;
        width: min(35vw, 21.25rem);
        max-height: 45vh;
        height: auto;
        border-width: 0.25rem;
        border-radius: 0.1875rem;
    }

    #tagline-text { font-size: 1.0625rem; }
    #read-more-anchor { font-size: 1rem; }

    #contact-content {
        flex-direction: column;
        row-gap: 0.75rem;
    }

    .contact-section > a {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 0.75rem;
    }

    #contact-header { display: block; }
    .contact-text { display: inline-block; }
    .contact-img {
        --diameter: 2.5rem;
        border-width: 0.125rem;
        cursor: default;
    }
}