body {
    --header-height: calc(4 * var(--text-unit));
}

/* header styling */

#header-div {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: calc(4 * var(--text-unit));
    
    padding: 0 calc(var(--text-unit) / 2);

    width: 100%;
    height: var(--header-height);

    background-color: #0005;

    position: relative;
}

.header-anchor {
    color: #e9e9e9;
    font-family: "Open Sans", serif;
    font-size: calc(1.5 * var(--text-unit));
    font-weight: 300;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--accent-dark);

    transition: 0.15s color, 0.15s font-weight, 0.15s letter-spacing;
}

.header-anchor:hover {
    color: #fafafa;
    font-weight: 500;
}

/* mitigate layout shift from increasing font weight */
.header-anchor:nth-child(2):hover { letter-spacing: -0.03em; }
.header-anchor:nth-child(3):hover { letter-spacing: -0.025em; }
.header-anchor:nth-child(4):hover { letter-spacing: -0.03em; }

#home-anchor {
    position: absolute;
    left: 2%;
    font-weight: 700;
}

#home-anchor::after { content: "ravis H"; }

/* main content styling */

#content-div {
    --row-gap: calc(2 * var(--text-unit));
    --inner-content-height: calc(100vh - var(--header-height) - 11vh - var(--row-gap));

    display: flex;
    flex-wrap: wrap;
    row-gap: var(--row-gap);
    padding: 6vh 10% 5vh 10%;
    height: calc(100vh - var(--header-height));
    overflow-x: hidden;
}

#content-left {
    flex: 1;
    min-width: 49%;
    padding-top: 2%;
}

#name-display {
    color: #fbfbfb;
    font-family: "Anton", sans-serif;
    font-size: calc(5.25 * var(--text-unit));
    font-weight: 400;
    text-shadow: 0.08em 0.06em 0.03em #0006;
    line-height: 1.2em;
}

.content-dot {
    --diameter: var(--text-unit);

    display: inline-block;
    margin-left: calc(0.25 * var(--diameter));
    width: var(--diameter);
    height: var(--diameter);
    background-color: var(--accent-dark);
    border-radius: 50%;
}

#job-title-display {
    color: #d9d9d9;
    font-family: "Anton", sans-serif;
    font-size: calc(4.25 * var(--text-unit));
    font-weight: 400;
    text-shadow: 0.08em 0.06em 0.03em #0006;
    line-height: 1.2em;
}

#content-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    min-width: 49%;
}

#headshot-img {
    height: calc(21.25 * var(--text-unit));
    aspect-ratio: 20/23;
    object-fit: cover;

    border-radius: calc(var(--text-unit) / 4);
    border: calc(0.375 * var(--text-unit)) solid var(--accent-dark);
    background-color: var(--accent-lite);

    box-shadow: calc(var(--text-unit) / 8) calc(var(--text-unit) / 8) calc(1.5 * var(--text-unit)) #0009;
}

/* center content formatting */

#content-center {
    display: flex;
    justify-content: center;
    width: 100%;
    row-gap: var(--text-unit);
}

#tagline-text {
    color: #f3f3f3;
    font-family: "Open Sans", serif;
    font-size: calc(1.5 * var(--text-unit));
    font-style: italic;
    font-weight: 300;
}

#read-more-anchor {
    display: inline-block;
    margin-top: 0.75em;
    padding: 0.4em 1.1em 0.5em 1.1em;

    background-color: var(--accent-dark);
    border-radius: 2em;
    box-shadow: calc(var(--text-unit) / 8) calc(var(--text-unit) / 8) calc(0.75 * var(--text-unit)) #0004;

    color: #f3f3f3;
    font-family: "Open Sans", serif;
    font-size: calc(1.25 * var(--text-unit));
    text-decoration: underline;
    font-weight: 600;

    cursor: pointer;
    transition: 0.15s background-color, 0.15s box-shadow;
}

#read-more-anchor:hover {
    background-color: var(--accent-base);
    box-shadow: calc(var(--text-unit) / 8) calc(var(--text-unit) / 8) calc(0.75 * var(--text-unit)) #0002;
}

#read-more-anchor:active {
    background-color: var(--accent-darker);
    box-shadow: calc(var(--text-unit) / 8) calc(var(--text-unit) / 8) calc(0.75 * var(--text-unit)) #0006;
}

/* contact info formatting */

#contact-content {
    display: flex;
    justify-content: center;
    column-gap: calc(2.5 * var(--text-unit));
}

#contact-header {
    display: none;
    margin-top: 0.5em;
    width: 100%;

    color: #f9f9f9;
    font-family: "Open Sans", serif;
    font-size: calc(2 * var(--text-unit));
    font-weight: 700;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: var(--accent-dark);
}

.contact-img {
    --diameter: calc(5.25 * var(--text-unit));

    width: var(--diameter);
    height: var(--diameter);
    border-radius: 50%;
    border: calc(var(--text-unit) / 4) solid #f9f9f9;
    box-shadow: 0 calc(var(--text-unit) / 4) calc(1.5 * var(--text-unit)) #000a;
    cursor: pointer;
}

.contact-text {
    display: none;
    color: #f3f3f3;
    font-family: "Open Sans", serif;
    font-size: calc(1.1875 * var(--text-unit));
    font-style: italic;
    font-weight: 300;
    text-decoration: underline;
}

/* portrait & landscape overrides */

@media screen and (orientation: landscape) {
    #tagline-content, #contact-content { flex: 1; }

    #content-center { min-height: calc(0.4 * var(--inner-content-height)); }

    .contact-img {
        filter: brightness(0.9);
        transition: 0.15s filter, 0.15s box-shadow;
    }
    .contact-section:nth-of-type(2) .contact-img { margin-top: var(--text-unit); }
    .contact-img:hover {
        box-shadow: 0 calc(var(--text-unit) / 4) calc(1.5 * var(--text-unit)) #0004;
        filter: brightness(1);
    }
    .contact-img:active {
        box-shadow: 0 calc(var(--text-unit) / 4) calc(1.5 * var(--text-unit)) #000d;
        filter: brightness(0.8);
    }
}

@media screen and (orientation: portrait) {
    #content-div {
        --inner-content-height: calc(100vh - var(--header-height) - 13vh - var(--row-gap));
        padding-top: 3vh;
        padding-bottom: 10vh;
    }

    #content-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #content-right { justify-content: center; }

    #content-center {
        min-height: calc(0.6 * var(--inner-content-height));
        flex-direction: column;
    }

    #header-div {
        column-gap: calc(2 * var(--text-unit));
        padding-right: 7%;
        justify-content: flex-end;
    }
    #home-anchor { left: 5%; }
    #home-anchor::after { content: ".H"; }
    .header-anchor { font-size: calc(1.25 * var(--text-unit)); }

    #name-display {
        font-size: calc(2.25 * var(--text-unit));
        letter-spacing: 0.02em;
    }
    .content-dot { --diameter: calc(0.625 * var(--text-unit)); }
    #job-title-display {
        font-size: calc(1.75 * var(--text-unit));
        letter-spacing: 0.025em;
    }

    #content-right { align-items: flex-end; }
    #headshot-img {
        margin-top: 10%;
        width: min(35vw, calc(21.25 * var(--text-unit)));
        max-height: 45vh;
        height: auto;
        border-width: calc(var(--text-unit) / 4);
        border-radius: calc(0.1875 * var(--text-unit));
    }

    #tagline-text { font-size: calc(1.0625 * var(--text-unit)); }
    #read-more-anchor { font-size: var(--text-unit); }

    #contact-content {
        flex-direction: column;
        row-gap: calc(0.75 * var(--text-unit));
    }

    .contact-section > a {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: calc(0.75 * var(--text-unit));
    }

    #contact-header { display: block; }
    .contact-text { display: inline-block; }
    .contact-img {
        --diameter: calc(2.5 * var(--text-unit));
        border-width: calc(var(--text-unit) / 8);
        cursor: default;
    }
}