body {
    background: #5f8e9f;

    overflow-x: hidden;
}

/***************** START HEADER CONTENT *****************/

#header-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: calc(3 * var(--text-unit));

    width: 100%;
    height: calc(5 * var(--text-unit));

    background-color: #f3f3f3;
}

#header-div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-div a {
    color: #282828;
    font-size: calc(2.33 * var(--text-unit));
    font-family: "Oswald", monospace;
    text-decoration: none;
    transition: 0.15s color;
}

#header-div a:hover { color: #d67a3c; }

#header-div a + div {
    width: 0;
    height: 0.2em;
    transition: 0.15s width, 0.15s background-color;
    pointer-events: none;
}

#header-div a:hover + div {
    width: 100%;
    background-color: #d67a3c;
}

@media screen and (orientation: portrait) {
    #header-div { padding: calc(1 * var(--text-unit)) 0; }
}

/***************** END HEADER CONTENT *****************/
/***************** START WELCOME CONTENT *****************/

@media screen and (orientation: portrait) {
    #welcome-div { flex-direction: column; }
}

@media screen and (orientation: landscape) {
    #welcome-div { flex-direction: row; }
}

#welcome-div {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    padding: 0 3%;

    width: 100%;
    height: 80%;
}

/******** title & tagline ********/

#welcome-div > #title-div {
    flex: 1;
}

@media screen and (orientation: landscape) {
    #welcome-div > #title-div > h1 { margin-left: 5%; }
    #welcome-div > #title-div > h2 { margin-left: 5%; }
    #title-div > #title-separator { margin-left: 5%; }
}

@media screen and (orientation: portrait) {
    #welcome-div > #title-div > h1 { margin-top: 25%; }
}

#welcome-div > #title-div > h1 {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: calc(7 * var(--text-unit));
    font-weight: 600;
    line-height: calc(7.5 * var(--text-unit));
}

#welcome-div > #title-div > h2 {
    color: #dbdbdb;
    font-family: "Montserrat", sans-serif;
    font-size: calc(4 * var(--text-unit));
    font-weight: 600;
}

#title-div > #title-separator {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--text-unit);
    column-gap: calc(var(--text-unit) * 0.75);
}

#title-div > #title-separator > div {
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;

    background-color: #efad7f;
}

#title-separator > div:first-of-type { animation: dotAppear 0.6s ease-out -0.3s 1; }
#title-separator > div:nth-of-type(2) { animation: dotAppear 0.6s ease-out -0.15s 1; }
#title-separator > div:nth-of-type(3) { animation: dotAppear 0.6s ease-out 0s 1; }

@keyframes dotAppear {
    0% { transform: scale(0); }
    50% { transform: scale(0); }
    100% { transform: scale(1); }
}

/******** right-hand info content ********/

#info-div {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

#headshot-wrapper {
    --width: 20 * var(--text-unit);
    --height: calc(550/400 * var(--width));
    --border-size: calc(var(--width) / 33.33);

    position: relative;

    width: calc(var(--width) + 2 * var(--border-size));
    height: calc(var(--height) + 2 * var(--border-size));

    background-color: #f8a871;
    border: var(--border-size) solid #d18754;

    overflow: hidden;
}

.headshot-image {
    --blur-dist: calc(var(--text-unit) / 3.2);
    --blur: calc(var(--text-unit) * 1.75);
    position: absolute;
    
    width: 100%;
    height: 100%;
    filter: drop-shadow(var(--blur-dist) var(--blur-dist) var(--blur) #0008);
}

.headshot-image:nth-of-type(1) { animation: headshotSlideshow 60s linear -2s infinite }
.headshot-image:nth-of-type(3) { animation: headshotSlideshow 60s linear -22s infinite; }
.headshot-image:nth-of-type(2) { animation: headshotSlideshow 60s linear -42s infinite; }

@keyframes headshotSlideshow {
    0%, 36.6667%, 100% { opacity: 0; display: none; }
    3.3333%, 33.3333% { opacity: 1; display: block; }
}

/******** right-hand info links ********/

#info-details-div {
    display: flex;
    height: calc(27 * var(--text-unit));
    flex-direction: column;
    justify-content: space-between;
}

#info-selectors {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: "</>  ";
}

#info-selectors > li::marker {
    color: #f8a871;
}

#info-selectors > li {
    margin-left: 1.625em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#info-selectors > li,
#info-selectors > li > a {
    color: #f9f9f9;
    font-family: "Oswald", monospace;
    font-size: calc(2.75 * var(--text-unit));
    font-weight: 300;
    text-decoration: none;

    transition: 0.15s color, 0.15s font-weight;
}

#info-selectors > li:hover,
#info-selectors > li > a:hover {
    color: #ffc49d;
    font-weight: 500;
}

#contact-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: var(--text-unit);

    height: calc(var(--text-unit) * 5.25);
}

#contact-icons > img {
    flex: 1;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: calc(var(--text-unit) / 4) solid #000;
    
    cursor: pointer;
    filter: brightness(95%);
    transition: 0.15s transform, 0.15s filter;
}

#contact-icons > img:hover {
    transform: scale(1.03);
    filter: brightness(105%);
}

#contact-icons > img:active {
    transform: scale(0.98);
    filter: brightness(90%);
}

#contact-icons > img:nth-of-type(even) { translate: 0 var(--text-unit); }

/***************** END WELCOME CONTENT *****************/
/***************** START CURRENT EVENTS CONTENT *****************/

#current-info-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 0 3%;

    width: 100%;
    height: 75%;

    background-color: #28607a;
}

/***************** END CURRENT EVENTS CONTENT *****************/
/***************** START SCROLL TO TOP BTN *****************/

#scroll-top-btn {
    display: none;
    justify-content: center;
    align-items: center;

    position: fixed;
    right: calc(1.5 * var(--text-unit));
    bottom: calc(1.5 * var(--text-unit));

    width: calc(5.25 * var(--text-unit));
    aspect-ratio: 1;

    background-color: #f8a871aa;
    border-radius: 50%;

    animation: 0.2s fadeIn ease 1;
    cursor: pointer;
    transition: 0.1s background-color;
}

#scroll-top-btn:hover { background-color: #f8a871cc; }
#scroll-top-btn:active { background-color: #c77d4bcc; }

#scroll-top-btn > p {
    color: #f9f9f9;
    font-family: "Oswald", monospace;
    font-size: calc(2 * var(--text-unit));
    font-weight: 500;
    pointer-events: none;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/***************** END SCROLL TO TOP BTN *****************/