*, html {
  padding: 0;
  margin: 0;
}

/**************HEADER**************/

#header {
  display: block;
  
  width: 100%;
  height: 200px;
  
  background-color: #242424;
}

#header > h2 {
  margin-left: 2%;
  position: absolute;
  
  width: 50%;
  height: 100%;
  
  line-height: 200px;
  letter-spacing: 3px;
  
  font-family: Sen, Courier, Tahoma;
  font-size: 45px;
  color: whitesmoke;
  
  animation: fadeFromBottom 1s ease-out;
}

.top-header-link > img {
  margin-right: 1%;
  margin-top: 140px;
  float: right;
  
  width: 48px;
  height: 48px;
  
  animation: zoomIn 1s ease-out;
}

/**************MAIN CONTENT**************/

#main-content-1 {
  width: 100%;
  height: 800px;
  
  filter: blur(10px);
  background-image: url("icons/summer-family-vacation-2018.jpg");
  border: none;
}

#main-content-1 > * {
  filter: blur(0px);
}
