main {
    padding: 6vh 15% 15vh 15%;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    overflow-x: hidden;
}

h1 {
    margin-bottom: 0.5rem;
    color: #fbfbfb;
    font: 400 4.25rem/1.2em var(--Anton);
    text-shadow: 0.08em 0.06em 0.03em #0006;
}

/* align with dot's margin-left */
main > a {
    display: block;
    margin-left: 0.25rem;
}

section { position: relative; }

section > a {
    opacity: 0;
    position: absolute;
    top: 33%;
    width: 4rem;
    left: -3rem;
    height: 1.33rem;
    cursor: pointer;
}

section img {
    position: absolute;
    height: 100%;
    right: 2rem;
}

section > a:focus-visible { opacity: 1; outline: none !important; }
section > a:focus-visible > img { outline: 2px solid #fff; }
section:hover > a { opacity: 1; }

h2 {
    margin: 0.5rem 0;
    color: #e9e9e9;
    font: 400 2.5rem/1.5em var(--Anton);
    text-shadow: 0.08em 0.06em 0.03em #0006;
    text-decoration-color: var(--accent-dark); /* Safari hates shorthand text-decoration */
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 2px;
}

h3.certs {
    margin: .5rem 0;
    color: #e9e9e9;
    font: 400 1.75rem / 1.25em var(--Anton);
    text-shadow: .08em .06em .03em #0006;
    text-decoration-color: #b0b0b0;
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
}

/* Content row styling */

.info-row {
    --height: 16rem;

    display: flex;
    column-gap: 1rem;
    margin: 0 -0.67rem 1.25rem -0.67rem;
    padding: 0.67rem;
    width: calc(100% + 1.33rem);

    overflow-x: auto;
    overflow-y: hidden;
}

.info-div {
    --width: 17rem;
    --border-width: 0.2rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: var(--width);
    max-width: var(--width);
    height: var(--height);

    background: #fff2;
    box-shadow: 0 0.1rem 0.7rem #0006;
    border-radius: calc(var(--width) * 0.07);
    overflow: hidden;
}

.info-div a,
.info-div h3 {
    color: #e9e9e9;
    font: 700 1.25rem/1.25 var(--Open-Sans);
    text-align: center;
}

.info-div a {
    text-decoration-color: var(--anchor-base); /* Safari hates shorthand text-decoration */
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 1px;
}

.info-div h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.25rem 0.5rem;
    height: 2.5em;
    text-shadow: 0.1em 0.05em 0 #0006;
}

.info-div p {
    margin: 0 0.5rem;
    color: #e5e5e5;
    font: 300 1rem/1.5em var(--Open-Sans);
    text-align: center;
    text-shadow: 0.1em 0.1em 0 #0006;
}

.info-div picture {
    width: var(--width);
    height: auto;
    aspect-ratio: 2.2;
    overflow: hidden;
    border-bottom: calc(0.75 * var(--border-width)) solid var(--accent-liter);
    object-fit: cover;
}

.info-div img {
    width: 100%;
    max-height: 100%;
    border: none;
}

.broken-text-fixed {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.broken-text-fixed {
    margin: 0.5rem 0;
    align-items: center;
}
.broken-text-fixed > *:first-child { max-width: 60%; }
.broken-text-fixed > *:last-child { max-width: 40%; }

p, a { font: 300 1.15rem/1.5em var(--Open-Sans); }
p { color: #e9e9e9; }
a {
    color: var(--anchor-base);
    transition: 0.1s color;
}

main a:hover { color: var(--anchor-lite); }
main a:active { color: var(--anchor-dark); }

.icon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 0.75rem;
    column-gap: 1.5rem;
    margin: 1rem 0;
    width: 100%;
}

.icon-list > img,
.icon-list > svg {
    height: 80px;
    aspect-ratio: 1;
    object-fit: contain;
    border-radius: 0.67rem;
}

.icon-list.large > img,
.icon-list.large > svg {
    height: 128px;
}

.skill-pad-white {
    background: #fff;
    padding: 1%;
}

@media screen and (orientation: portrait) {
    main { padding: 3vh 8% 14vh 8%; }
    h1 {
        font-size: 3rem;
        letter-spacing: 0.02em;
    }
    h2 { font-size: 2.33rem }
    h3 { font-size: 1.5rem }

    section > a {
        left: -2.325rem;
        height: 1.25rem;
    }

    .icon-list {
        --num-cols: 2;
        justify-content: center;
    }
}

/* adjust padding on landscape mobiles */

@media screen and (orientation: landscape) and (max-width: 900px) {
    main { padding: 6vh 8% 15vh 8%; }
}