/* main content styling */

main {
    display: flex;
    flex-direction: column;
    padding: 6vh 15% 15vh 15%;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    overflow-x: hidden;
}

h1 {
    color: #fbfbfb;
    font: 400 4.25rem/1.2em var(--Anton);
    text-shadow: 0.08em 0.06em 0.03em #0006;
}

article > p {
    color: #d9d9d9;
    text-indent: 2em;
    font: 300 1.4rem/1.45em var(--Open-Sans);
}

article > p:last-of-type { margin-top: 1.5em; }

article > p > a {
    color: var(--anchor-base);
    font-style: normal;
    transition: 0.1s color;
}

article > p > a:hover { color: var(--anchor-lite); }
article > p > a:active { color: var(--anchor-dark); }

section {
    display: flex;
    align-items: center;
    column-gap: 7vw;
}

section:last-of-type { margin-top: 2.5rem; }

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#slideshow-2 { position: relative }

#slideshow-2,
picture.hide-mobile {
    box-shadow: .125rem .125rem 1.5rem #0009;
}

#slideshow-2,
picture,
.bio-img {
    height: 26rem;
    aspect-ratio: 0.65;
}

.bio-img {
    object-fit: cover;
    background: var(--accent-base);
    border-radius: 0.25rem;
}

#slideshow-2 picture { position: absolute }

#slideshow-2 picture:nth-child(1) { animation-delay: -7.5s }

@keyframes slideshow2 {
     0%, 45%, 100% { opacity: 1; }
    50%, 95% { opacity: 0; }
}

@media screen and (orientation: portrait) {
    main { padding: 3vh 8% 8vh 8%; }
    .hide-mobile { display: none }

    h1 {
        font-size: 3rem;
        letter-spacing: 0.02em;
    }

    section {
        flex-direction: column;
        row-gap: 3rem;
    }

    article > p { font-size: 1.15rem; }

    section:last-of-type { flex-direction: column-reverse; }

    #slideshow-2,
    picture,
    .bio-img { height: 25rem }

    #slideshow-2 picture { animation: 15s slideshow2 0s infinite }
}

/* adjust padding on landscape mobiles */

@media screen and (orientation: landscape) and (max-width: 900px) {
    main { padding: 6vh 8% 15vh 8%; }
    .show-mobile { display: none }
}