*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
    --header-height: 4rem;
    --footer-height: 3rem;
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

:root {
    --g-dark: #2f2926;
    --g-lite: #413a36;

    --accent-darkest2: #a55c0f;
    --accent-darkest: #b86914;
    --accent-darker: #ca771e;
    --accent-dark: #de8629;
    --accent-base: #ec9a42;
    --accent-lite: #fcb468;
    --accent-liter: #ffc281;

    --anchor-dark: #3f73d3;
    --anchor-base: #77a6fb;
    --anchor-lite: #abc8ff;

    /* update scrollbar color */
    color-scheme: dark;

    /* preset font variables */
    --Open-Sans: "Open Sans", sans-serif;
    --Anton: "Anton", sans-serif;
}

body {
    background: var(--g-dark);
    background: radial-gradient(ellipse at top left, var(--g-dark) 0%, var(--g-lite) 100%);
}

.no-select {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    /* thanks SO (https://stackoverflow.com/a/32548403) */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

:focus-visible { outline: 2px solid #fff !important; }

/* header styling */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;

    position: relative;
    padding: 0 0.5rem;
    width: 100%;
    height: var(--header-height);

    background-color: #0005;
}

header > a {
    height: 100%;
    padding: 0 1.25rem;

    color: #e9e9e9;
    font: 300 1.5rem var(--Open-Sans);
    line-height: var(--header-height);
    text-align: center;
    text-decoration-color: var(--accent-dark); /* Safari hates shorthand text-decoration */
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;

    transition: 0.15s color, 0.15s font-weight, 0.15s letter-spacing;
}

header > a:hover {
    color: #fafafa;
    font-weight: 500;
}

/* mitigate layout shift from increasing font weight */
header > a:nth-child(2):hover { letter-spacing: -0.03em; }
header > a:nth-child(3):hover { letter-spacing: -0.025em; }
header > a:nth-child(4):hover { letter-spacing: -0.03em; }

#home-anchor {
    position: absolute;
    left: 2%;
    font-weight: 700;
}

#home-anchor::after { content: "ravis H"; }

/* footer styling */

footer {
    width: 100%;
    height: var(--footer-height);
    background-color: #0005;
}

footer a,
footer p {
    color: #f3f3f3;
    font: 300 1.05rem var(--Open-Sans);
    line-height: var(--footer-height);
    text-align: center;
}

footer a {
    color: var(--anchor-base);
    transition: 0.1s color;
}

footer a:hover { color: var(--anchor-lite); }
footer a:active { color: var(--anchor-dark); }

/* connect dot styling */

#content-dot-wrapper { margin: 1rem 0; }

#content-dot-wrapper > div {
    display: inline-block;
    margin-left: 0.25rem;
    width: 1rem;
    height: 1rem;
    background-color: var(--accent-dark);
    border-radius: 50%;
}

#content-dot-wrapper > div:not(:first-of-type) {
    margin-left: 0.5rem;
}

/* mobile styling */

@media screen and (orientation: landscape) and (max-width: 900px) { :root { font-size: 0.75rem; } }

@media screen and (orientation: portrait) {
    :root { font-size: 0.9rem; }
    body { background: linear-gradient(180deg, var(--g-dark) 0%, var(--g-lite) 100%); }
    header {
        column-gap: 1rem;
        padding-right: 7%;
        justify-content: flex-end;
    }
    #home-anchor { left: 5%; }
    #home-anchor::after { content: ".H"; }
    header > a {
        font-size: 1.25rem;
        padding: 0 0.5rem;
    }
}