name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      #################### BUILD ####################
      - name: Install APT Deps
        uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: terser html-minifier-terser cleancss
          version: 1.0

      - name: Make Static Files
        run: make

      #################### VALIDATE ####################
      - name: W3 Validate HTML
        uses: anishathalye/proof-html@v2
        with:
          directory: ./docs/
          enforce_https: false
          disable_external: true

      #################### PUSH ####################
      - name: "Push Changes"
        if: github.ref == 'refs/heads/main' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')
        run: |
          git config user.name "Travis Heavener"
          git config user.email "travis.heavener@gmail.com"
          git add -f docs
          git commit -m "Automated minification of ${{ github.sha }}"
          git push --force -u origin main:gh-pages