/* Section header styles */

section { cursor: pointer }

/* Dropdown icon styles */

.dropdown-icon {
    margin-left: 1.75rem;
    height: 2rem;

    cursor: pointer;
    filter: drop-shadow(-0.19rem 0 0.05rem #0006);
    transform: rotate(-90deg);
    transition: 0.15s transform, 0.15s filter;
}

section:has(button[aria-expanded="true"]) .dropdown-icon {
    filter: drop-shadow(0.19rem 0 0.05rem #0006);
    transform: rotate(90deg);
}

section h2,
section img { pointer-events: none }

section button {
    display: flex;
    align-items: center;
    margin-top: 0.67rem;
    width: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    pointer-events: all;
}

/* Content card styles */

.card-row { --height: 20rem; display: none }
.card-row.active, .card-row.animate-in, .card-row.animate-out { display: flex }
.card-row.animate-in { animation: 150ms ease 0s 1 projectsFadeIn; }
.card-row.animate-out { animation: 150ms ease 0s 1 projectsFadeIn reverse; }

.card-div { --width: 16rem }

@media (prefers-reduced-motion: reduce) {
    .animate-in, .animate-out { animation: none; transition: none }
}

@keyframes projectsFadeIn {
    from { opacity: 0; height: 0 }
    to { opacity: 1; height: var(--height) }
}

.card-div a,
.card-div h3 {
    margin: 0.25rem 0.5rem;
    line-height: 1.5;
}

.card-img {
    width: var(--width);
    aspect-ratio: 1.31;
    object-fit: cover;
    overflow: hidden;
    object-position: 50% 33%;
}

/* Project image slideshows */

.slideshow-3 {
    position: relative;
    width: var(--width);
    aspect-ratio: 1.31;
}

.slideshow-3 .card-img {
    --anim-dur: 15s;
    position: absolute;
    animation: var(--anim-dur) slideshow3 0s infinite;
}

.slideshow-3 .card-img:nth-child(2) { animation-delay: calc(2 * var(--anim-dur) / -3); }
.slideshow-3 .card-img:nth-child(3) { animation-delay: calc(var(--anim-dur) / -3); }

@keyframes slideshow3 {
     0%, 30%, 100% { opacity: 1; pointer-events: all; }
    33%, 97% { opacity: 0; pointer-events: none; }
}